@charset "UTF-8";

/* pagination */
.pagination {
    display: inline-block;
}
  
.pagination button {
    color: var(--bs-dark);
    padding: 10px 16px;
    text-decoration: none;
    transition: 0.5s;
    border: 1px solid var(--bs-secondary);
    margin: 0 4px;
    background-color: white;
}
  
.pagination button.active {
    background-color: var(--bs-primary);
    color: var(--bs-light);
    border: 1px solid var(--bs-secondary);
}
  
.pagination button:hover:not(.active) {background-color: var(--bs-primary)}

.black {
	color: black;
}