<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias type="com.yoona.dto.MemberDto" alias="MemberDto" />
		<typeAlias type="com.yoona.dto.BoardDto" alias="BoardDto" />
		<typeAlias type="com.yoona.dto.BoardAttachDto" alias="BoardAttachDto" />
	</typeAliases>
	
	<mappers>
		<mapper resource="com/yoona/mapper/BoardMapper.xml" />
		<mapper resource="com/yoona/mapper/AccountMapper.xml" />
	</mappers>

</configuration>